#Midnights{
    text-decoration: none;
    background-color: #5cb85c;
    color: #fff;
    padding: 7px 15px;
    border-radius:10px;

    transition: color 0.5s , background 0.5s;
}

#Midnights:hover{
    color: #5cb85c;
    background-color: #fff;
}
#Midnights2{
    text-decoration: none;
    background-color: red;
    color: #fff;
    padding: 7px 15px;
    border-radius:10px;

    transition: color 0.5s , background 0.5s;
}

#Midnights2:hover{
    color: red;
    background-color: #fff;
}
#get_two_user{
    text-decoration: none;
    background-color: #5cb85c;
    color: #fff;
    padding: 7px 15px;
    border-radius:10px;

    transition: color 0.5s , background 0.5s;
}

#get_two_user:hover{
    color: #5cb85c;
    background-color: #fff;
}

#check_result{
    text-decoration: none;
    background-color: #357ebd;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;

    transition: color 0.5s, background 0.5s;
}

#check_result:hover{
    color: #357ebd;
    background-color: #fff;
}

th{
    width:300px;
}

#time{
    float:right;
}
#border{
    width: 300px;
    border-radius: 5px;
}